# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
ENV/
.env
.env.*

# Docker
*.log
data/

# VSCode
.vscode/

# macOS
.DS_Store

# Ollama/ChromaDB volumes
ollama_data/
chroma_data/

# Streamlit
.streamlit/ 